@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
}

/* common styles */
.display-flex{
    display: flex;
}

.btn{
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: bold;
}
/* header realted style */

.hide-bar{
    display: none;
}

.nav-container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar h2{
    font-size: 1.5rem;
    color: #3A3A3A;
}

.menu-list ul{
    list-style: none;
    gap: 34px;
}

.menu-list a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 500;
}

.hero-container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.hero-description h1{
    font-size: 3.25rem;
    margin-bottom: 16px;
}

.hero-container p{
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 20px;
}

.hero-img{
    background-image: url("images/Circle\ design.svg");
    margin-bottom: 69px;
    margin-top: 40px;
}

.ecom-app{
    width: 1110px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 36px 62px;
}
/* responsive media query */
@media screen and (max-width:576px) {
    .hide{
        display: none;
    }

    .hide-bar{
        display: block;
    }

    .navbar h2{
        white-space: nowrap;
    }

    .menu-list ul{
        gap: 0;
        padding-left: 0;
    }

    .navbar{
        align-items: center;
        width: 100%;
    }

    .hero-container{
        flex-direction: column-reverse;
    }

    .hero-img{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 22px;
        margin-bottom: 14px;
    }

    .hero-description h1{
        font-size: 1.75rem;
        text-align: center;
    }

    .hero-container p{
        font-size: 0.87rem;
        text-align: center;
    }

    .btn{
        display: block;
        margin: 0 auto;
        font-weight: 500;
    }

    .ecom-app{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}