@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
}

/* common styles */
.display-flex{
    display: flex;
}

.btn{
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: bold;
}
/* header realted style */

.hide-bar{
    display: none;
}

.nav-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar h2{
    font-size: 1.5rem;
    color: #3A3A3A;
}

.menu-list ul{
    list-style: none;
    gap: 34px;
}

.menu-list a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 500;
}

.hero-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.hero-description h1{
    font-size: 3.25rem;
    margin-bottom: 16px;
}

.hero-container p{
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 20px;
}

.hero-img{
    background-image: url("images/Circle\ design.svg");
    margin-bottom: 69px;
    margin-top: 40px;
}

.ecom-app{
    width: 1110px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 36px 62px;
}

/* Main related styles */

.my-collection{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}

.collection-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 1.75rem;
    font-weight: 600;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding-bottom: 50px;
}

.card{
    width: 329px;
    border-radius: 5px;
    box-shadow: 0px 1px 70px 1px rgb(214, 212, 212);
}

.card-img{
    display: flex;
    justify-content: center;
    margin: 16px 0px;
    border-radius: 5px;
}

.card h3{
    font-size: 1.75rem;
    font-weight: 500;
    margin: 16px 0px 16px 16px;
}

.card span{
    font-family: "Inter", sans-serif;
    font-size: 1.50rem;
    color: #000000;
    margin: 16px 0px 16px 16px;
}

.rating{
    margin: 0px 0px 16px 16px;
}

.rating span{
    margin: 0;
    color: goldenrod;
}

.card p{
    font-size: 0.87rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    letter-spacing: 1.83%;
    line-height: 143%;
    margin: 6px 0px 27px 16px;
    color: gray;
}

.see-more{
    color: rgba(224,44,109,87);
    font-weight: bold;
    position: absolute;
    top: 2470px;
    right: 230px;
    cursor: pointer;
}

/* responsive media query */
@media screen and (max-width:576px) {
    .hide{
        display: none;
    }

    .hide-bar{
        display: block;
    }

    .navbar h2{
        white-space: nowrap;
    }

    .menu-list ul{
        gap: 0;
        padding-left: 0;
    }

    .navbar{
        align-items: center;
        width: 100%;
    }

    .hero-container{
        flex-direction: column-reverse;
    }

    .hero-img{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 22px;
        margin-bottom: 14px;
    }

    .hero-description h1{
        font-size: 1.75rem;
        text-align: center;
    }

    .hero-container p{
        font-size: 0.87rem;
        text-align: center;
    }

    .btn{
        display: block;
        margin: 0 auto;
        font-weight: 500;
    }

    .ecom-app{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .ecom-app img{
        
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        padding-bottom: 50px;
    }
}